.DS_Store
node_modules
npm-debug.*

database-backups

.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-admin
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-content/cache
wp-content/index.php
wp-content/themes/*
wp-content/themes/*/
!wp-content/themes/Divi/
!wp-content/themes/brandefined-divi/
wp-includes
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
