.DS_Store
node_modules
npm-debug.*

src/index.php
src/license.txt
src/readme.html
src/wp-activate.php
src/wp-admin
src/wp-blog-header.php
src/wp-comments-post.php
src/wp-config.php
src/wp-cron.php
src/wp-content/cache
src/wp-content/index.php
src/wp-content/themes/*
src/wp-content/themes/*/
!src/wp-content/themes/Divi/
!src/wp-content/themes/brandefined-divi/
src/wp-includes
src/wp-links-opml.php
src/wp-load.php
src/wp-login.php
src/wp-mail.php
src/wp-settings.php
src/wp-signup.php
src/wp-trackback.php
src/xmlrpc.php
