body.contact-us {
  form {
    .et_pb_contact_field_half {
      width: 33%;
    }

    .et_contact_bottom_container {
      float: none;
      text-align: left;
      padding-left: 3%;
    }

    button {
      color: #fff;
      background: $color-primary;
      padding: 0.3em 1em;
      border: 2px solid $color-primary;
      font-weight: 800;
      font-size: 14px;
      font-style: normal;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      font-family: "Montserrat";

      &:hover {
        opacity: 0.7;
        transition: all 0.4s ease-in-out;
        padding: 0.3em 2em 0.3em 1em;
      }
    }
  }

  h2 {
    &:after {
      display: none;
    }
  }

  .contact-methods {
    ul {
      list-style: none;

      li {
        margin-left: 20px;
        position: relative;

        &:nth-child(n + 2) {
          margin-top: 10px;
        }

        a {
          color: $color-semi-black;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: $color-secondary;
          }
        }

        .fa {
          position: absolute;
          left: -30px;
          top: 3px;
          color: $color-primary;
          font-size: 18px;

          &.fa-map-marker {
            font-size: 24px;
            top: 0;
          }

          &.fa-phone {
            font-size: 22px;
            top: 1px;
          }
        }
      }
    }
  }
}
