#top-header {
  background: white !important;

  .login-register {
    a {
      color: black;
      border-color: black;
      font-weight: normal;
      
      strong {
        font-weight: 900;
      }

      &:hover {
        border-color: $color-primary;
        background: $color-primary;
        color: white;
      }
    }
  }
  
  @media (max-width: 767px) {
    .login-register {
      display: none;
    }
  }
  
  @media (max-width: 980px) {
    width: 100%;

    .container {
      width: calc( 100% - 40px);

      .logo_container {
        height: 220px;
        width: auto;
        top: -70px;
      }

      #et-secondary-menu {
        display: block !important;

        .login-register {
          position: absolute;
          top: 22px;
          right: 80px;

          a {
            font-size: 13px;
            height: auto;
            border-radius: 2em;
            padding: 3px 10px;
          }
        }

        .et-social-icons {
          display: none !important;
        }
      }
    }
  }

  @media (min-width: 981px) {
    height: 205px;

    .container {
      display: flex;
      align-items: center;
      padding-top: 0;
      height: 100%;

      .logo_container {
        flex: 0 0 auto;
        width: 250px;
        height: auto;
        position: relative;
        top: -10px;

        img {
          height: auto;
        }
      }

      #et-secondary-menu {
        flex: 1 1 auto;
        width: 100px;
        float: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .login-register {
          margin-right: 30px;
        }

        ul.et-social-icons {
          float: none;
          margin-right: 0;

          li {
            margin-left: 5px;

            a {
              background: $color-primary;
              width: 50px;
              height: 50px;
              border-radius: 2em;
              padding-top: 15px;
              font-size: 24px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.mobile_menu_bar {
  padding-bottom: 5px !important;
  top: -8px;
  
  &:before {
    font-size: 48px;
  }
}

header#main-header {
  box-shadow: none;
  
  @media (min-width: 768px) {
    .login-register {
      display: none;
    }
  }
  
  .login-register {
    a {
      color: white;
      transition: all 0.4s ease-in-out;
      font-family: $font-tertiary;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 16px;
      padding: 10px 30px;
      cursor: pointer;
      letter-spacing: 2px;
      display: block;
      width: 100%;
      background: black;
      text-align: center;
      font-weight: normal;
      
      strong {
        font-weight: 900;
      }

      &:hover {
        background: lighten(black, 15%);
      }
    }
  }
  
  @media (max-width: 980px) {
    background: white !important;

    #et_mobile_nav_menu {
      ul#mobile_menu {
        font-family: $font-tertiary;
        text-transform: uppercase;
      }
    }
  }

  @media (min-width: 981px) {
    border-bottom: 3px solid white;

    #et-top-navigation {
      float: none;
      padding-left: 0 !important;
      padding-top: 0 !important;

      nav#top-menu-nav {
        float: none !important;

        ul#top-menu {
          float: none;
          margin: 0 auto;
          display: flex;
          justify-content: center;

          > li {
            padding-right: 0;
            flex: 0 0 auto;
            font-family: $font-tertiary;
            text-transform: uppercase;
            line-height: 1em;

            > a {
              padding: 10px 15px 9px 15px;
              color: white;
              display: block;
              height: 100%;

              &:hover {
                background: $color-primary;
                opacity: 1;
              }
            }

            &.current_page_item {
              > a {
                background: $color-primary;
                color: white;
                border-left: 4px solid white;
                border-right: 4px solid white;
              }
            }

            &.menu-item-has-children {
              > a {
                &:after {
                  position: relative;
                  margin-left: 2px;
                  vertical-align: top;
                }
              }
            }

            ul.sub-menu {
              padding: 0;
              width: auto;
              border-top-width: 4px;

              li {
                padding: 0;

                a {
                  padding: 12px 30px;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
