/*
some breakpoints for reuse
479px and lower: for mobiles
480px – 767px: for mobiles
768px – 980px: for portrait tablets
981px – 1100px: for landscape tablets
1101px – 1405px: for desktops
1405px and above: for large desktops
*/
@media (max-width: 767px) {}
@media (max-width: 980px) {}
@media (min-width: 981px) {}
@media (min-width: 1101px) {}

.round-button {
  transition: all 0.4s ease-in-out;
  font-family: $font-tertiary;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 2em;
  border: 3px solid black;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  letter-spacing: 2px;
}
