body.coaches {
    .et_pb_row:not(.header-row) {
        background: white;
        padding: 2%;
    }
    
    .header-section + .et_pb_section {
        padding-top: 2%;
    }
    
    .meet-our-team {
        .et_pb_text {
            &:nth-child(1) {
                background-size: cover;
            }
        }
        
        h3 {
            height: 250px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: white;

            span {
                display: block;
                background: $color-tertiary;
                width: 100%;
                font-weight: bold;
                padding: 5px 10px;
            }
        }
    }
}