body.home {
  .et_pb_slides {
    @media (max-width: 980px) {
      .et_pb_slide {
        height: 200px;
      }
    }

    @media (min-width: 981px) {
      .et_pb_slide {
        height: 700px;
      }
    }
  }

  .home-free-fitness-updates {
    
    @media (max-width: 980px) {
      position: relative;
      padding: 0 20px;

      .validation_error {
         display: none;
       }


       ul.gform_fields {
         li {
           margin-top: 0;

           /* header */
           &:nth-child(1) {
             h2 {
               font-family: $font-secondary;
               font-size: 58px;
               color: black;
             }
           }

           &.gfield_contains_required {
             display: inline-block;
             vertical-align: top;

             input {
               width: 100%;
               background: none;
               border: none !important;
               border-bottom: 1px solid black !important;
               color: black;
             }

             ::placeholder {
                color: black;
                font-style: italic;
             }
           }

           &.gfield_error {
             background: none;
             border: none;
             width: auto;

             input {
               border: none;
               border-bottom: 1px solid $color-primary !important;
             }

             .gfield_description {
               display: none;
             }
           }

           p {
             font-size: 24px;
             font-weight: 200;
             margin-bottom: 20px;
           }

           small {
             margin-top: 20px;
             display: block;
             font-size: 14px;
           }

           label {
             display: none !important;
           }

           .ginput_container {
             margin-top: 0 !important;
           }
         }
       }
    }
    
    @media (min-width: 981px) {
       position: absolute;
       color: white;
       max-width: 540px;
       top: 100px;
       left: 10%;

       .validation_error {
         display: none;
       }


       ul.gform_fields {
         margin-top: 86px !important;
         padding: 41px 30px 0 30px;
         background: transparentize(white, .85);

         li {
           margin-top: 0;

           /* header */
           &:nth-child(1) {
             position: absolute;
             top: 23px;
             left: 0;
             border-bottom: 4px solid white;
             width: 100%;

             h2 {
               font-family: $font-secondary;
               font-size: 58px;
               color: white;
               padding-bottom: 0;
               margin-bottom: -10px;
             }
           }

           &.gfield_contains_required {
             display: inline-block;
             vertical-align: top;

             input {
               width: 100%;
               background: none;
               border: none !important;
               border-bottom: 1px solid white !important;
               color: white;
             }

             ::placeholder {
                color: white;
                font-style: italic;
             }
           }

           &.gfield_error {
             background: none;
             border: none;
             width: auto;

             input {
               border: none;
               border-bottom: 1px solid $color-primary !important;
             }

             .gfield_description {
               display: none;
             }
           }

           p {
             font-size: 24px;
             font-weight: 200;
             margin-bottom: 20px;
           }

           small {
             margin-top: 20px;
             display: block;
             font-size: 14px;
           }

           label {
             display: none !important;
           }

           .ginput_container {
             margin-top: 0 !important;
           }
         }
       }
    }
    
    @media (max-width: 980px) {
      .gform_footer {
        padding: 20px 0 25px 0;
        
        .button {
          border: none;
        }
      }
    }
    
    @media (min-width: 981px) {
      .gform_footer {
        padding: 20px 30px 25px 30px;
        
        .button {
          border: 3px solid white;
        }
      }
    }
    
    .gform_footer {
      margin-top: 0;
      background: transparentize(white, .85);

      .button {
        transition: all 0.4s ease-in-out;
        font-family: $font-secondary;
        font-weight: bold;
        text-transform: lowercase;
        font-size: 28px;
        height: auto;
        border-radius: 0;
        color: white;
        background: $color-primary;
        padding: 10px 20px 15px 20px;
        margin: 0;
        cursor: pointer;
        width: auto;
        line-height: inherit !important;
        min-height: 0 !important;

        &:hover {
          background: darken($color-primary, 5%);
        }
      }
    }
  }

  .welcome-to-pgfit {
    width: 100%;

    @media (max-width: 980px) {
      padding: 0;
    }

    h1 {
      font-family: $font-tertiary;
      color: black;
      font-size: 22px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 4px;
      max-width: 800px;
      width: 80%;
      margin: 0 auto;

      img {
        height: 80px;
        vertical-align: middle;
        margin-left: 15px;
        position: relative;
        top: -5px;
      }
    }

    h3 {
      font-family: $font-tertiary;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 10px;
      
      @media (min-width: 1101px) {
        padding: 2px 12px;
        display: inline-block;
        background: $color-primary;
        color: white;
      }
      
      @media (max-width: 1100px) {
        background: white;
        color: black;
        max-width: 800px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    p {
      font-size: 22px;
      max-width: 800px;
      width: 80%;
      margin: 0 auto;
      font-weight: 200;
    }
  }

  .about-us {
    width: 100% !important;
    max-width: 100% !important;
    
    .et_pb_column {
      width: 50%;
      margin-right: 0;
      
      &:nth-child(1) {
        padding: 35px 40px;
      }
      
      @media (max-width: 980px) {
        margin-bottom: 0;
      }
    }
    
    .et_pb_video {
      height: 100%;
    }

    p {
      font-size: 16px;
    }

    .arrow-button {
      font-family: $font-tertiary;
      color: white;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;

      &:after {
        content: "►";
        margin-left: 10px;

      }

      &:hover {
        color: darken(white, 10%);
      }
    }
  }

  .news-section {
    @media (max-width: 980px) {
      padding: 0;
    }

    h2 {
      font-family: $font-secondary;
      font-size: 60px;
      line-height: 1.2em;
      font-weight: bold;
      color: black;
      
      @media (max-width: 767px) {
        font-size: 36px;
      }
    }

    .round-button {
      background: black;
      color: white;
      height: auto;

      &:hover {
        background: lighten(black, 15%);
        border-color: lighten(black, 15%);
      }
    }

    .et_pb_code {
      @media (max-width: 980px) {
        margin-bottom: 0;
        
        ul {
          li {
            width: 100%;

            &:nth-child(n + 2) {
              padding-top: 20px;
            }
          }
        }
      }

      @media (min-width: 981px) {
        ul {
          li {
            width: 30%;
          }
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        list-style: none;

        li {
          flex: 0 0 auto;

          &:nth-child(1) a {
            .bottom {
              background: $color-primary;

              &:hover {
                background: darken($color-primary, 5%);
              }
            }
          }

          &:nth-child(2) a {
            .bottom {
              background: $color-quinary;

              &:hover {
                background: darken($color-quinary, 5%);
              }
            }
          }

          &:nth-child(3) a {
            .bottom {
              background: $color-senary;

              &:hover {
                background: darken($color-senary, 5%);
              }
            }
          }

          a {
            display: flex;
            flex-direction: column;
            height: 100%;

            .top {
              background-position: center;
              background-size: cover;
              padding: 20px 10px;
              height: 180px;
              display: flex;
              align-items: flex-end;
              justify-content: center;
              position: relative;
              flex: 0 0 auto;

              &:after {
                background: transparentize(black, .7);
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
              }

              h4 {
                color: white;
                font-family: $font-tertiary;
                font-size: 18px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 3px;
                text-align: center;
                z-index: 1;
              }
            }

            .bottom {
              margin-top: 3px;
              padding: 20px 25px 25px 25px;
              text-align: center;
              flex: 1 1 auto;
              height: 100%;

              h5 {
                color: white;
                font-family: $font-secondary;
                font-size: 24px;
                font-weight: bold;
                text-transform: lowercase;
                padding-bottom: 0;
              }

              p {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .contact-us-today {
    @media (max-width: 980px) {
      .et_pb_row {
        padding: 0;
      }
    }

    h2 {
      font-family: $font-secondary;
      font-size: 60px;
      line-height: 1.2em;
      font-weight: bold;
      color: white;
      
      @media (max-width: 767px) {
        font-size: 36px;
      }
    }

    form {
      max-width: 800px;
      margin: 0 auto;
    }

    input:not(.button), textarea {
      width: 100% !important;
      background: none;
      border: 2px solid white !important;
      color: white;
      padding: 10px 15px !important;
    }

    ::placeholder {
       color: white;
       font-style: italic;
    }

    label {
      display: none !important;
    }

    ul.gform_fields {
      li {
        padding: 0;
      }
    }

    @media (max-width: 980px) {
      .gfield_course_option_wrapper {
        ul {
          li {
            width: 100%;
          }
        }
      }
    }

    @media (min-width: 981px) {
      .gfield_course_option_wrapper {
        ul {
          li {
            width: 30%;
          }
        }
      }
    }

    .gfield_course_option_wrapper {
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        flex-wrap: wrap;

        li {
          flex: 0 0 auto;
          margin-top: 0;
          padding: 0;

          &:nth-child(1),
          &:nth-last-child(1) {
            display: none;
          }
        }
      }
    }

    .gform_footer {
      margin-top: 0;
      text-align: center;

      .button {
        transition: all 0.4s ease-in-out;
        font-family: $font-tertiary;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 2em;
        border: 3px solid white;
        color: white;
        display: inline-block;
        padding: 10px 30px;
        cursor: pointer;
        letter-spacing: 2px;
        background: none;
        width: auto;

        &:hover {
          background: white;
          color: $color-senary;
        }
      }
    }
  }

  .membership-options {
    h2 {
      font-family: $font-secondary;
      font-size: 60px;
      line-height: 1.2em;
      font-weight: bold;
      color: white;
      
      @media (max-width: 767px) {
        font-size: 36px;
      }
    }

    @media (max-width: 980px) {
      .et_pb_row {
        padding: 0;
      }

      img {
        max-width: 300px;
      }
    }

    .round-button {
      border-color: white;
      color: white;

      &:hover {
        background: white;
        color: $color-semi-black;
      }
    }

    p {
      font-size: 18px;
    }
  }
}
